#fullscreen-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#popup-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  /* 또는 contain */
}

#popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1000000;
}